/MovingCircle/.vs/*
/MovingCircle/Debug/*
/MovingCircle/Dev
/MovingCircle/UpgradeLog.htm

/MovingCircle/MovingCircle.VC.db
/MovingCircle/MovingCircle.sln
/MovingCircle/MovingCircle/Debug/*
/MovingCircle/MovingCircle/MovingCicle.vcxproj
/MovingCircle/MovingCircle/MovingCicle.vcxproj.filters
/MovingCircle/MovingCircle/MovingCicle.vcxproj.user

